:root {
    --primary: #7D2421;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;  
    cursor: pointer; 
}

.btn--primary {
    background-color: #7D2421;
    color: #ffffff;
}
.btn--outline {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 8px 20px;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 24px;
    height: 90px;
    width: 290px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 36px;
}

.btn--medium:hover,button.btn--large:hover {
    /* background: #fff; */
    color: #242424;
    transform: scale(1.05);
    transition: all 0.3s ease-out;
}
