/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  } */

  
  .hero-container {
    background: url('/images/Hero.jpg') center center/cover no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    text-align: right;
  }
  
  .hero-container > h1 {
    margin: 0% 13%;
    color: #fff;
    font-size: 57px;
    margin-top: -100px;
  }
  
  .hero-container > h3 {
    margin: 0% 13%;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    width: 50%;
  }
  
  .hero-btns {
    margin: 0% 13%;
    margin-top: 120px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 45px;
      margin-top: -150px;
      
    }
/* 
    .video {
      margin-top: 0px;
      
    } */
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 40px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 20px;
      width: 70%;
      
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  